name: build-openwrt-firmware

on: 
  push:
    branches: 
      - dev
#  watch:
#    types: started

env:
  REPO_URL: https://github.com/openwrt/openwrt.git
  REPO_BRANCH: openwrt-19.07
  CONFIG_FILE: .config
  SHELL_SCRIPT: import-package.sh
  FREE_UP_DISK: false
  SSH_ACTIONS: true
  UPLOAD_BIN_DIR: false
  UPLOAD_FIRMWARE: true
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Initialization
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo swapoff /swapfile
        sudo rm -rf /swapfile /etc/apt/sources.list.d/* /usr/share/dotnet /usr/local/lib/android /opt/ghc
        sudo -E apt-get -qq update
        sudo -E apt-get -qq install build-essential asciidoc binutils bzip2 gawk gettext git libncurses5-dev libz-dev patch python3 unzip zlib1g-dev lib32gcc1 libc6-dev-i386 subversion flex uglifyjs git-core gcc-multilib p7zip p7zip-full msmtp libssl-dev texinfo libglib2.0-dev xmlto qemu-utils upx libelf-dev autoconf automake libtool autopoint device-tree-compiler g++-multilib
        sudo -E apt-get -qq autoremove --purge
        sudo -E apt-get -qq clean
    - name: Clean
      if: env.FREE_UP_DISK == 'true'
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo rm -rf /usr/share/dotnet
        docker rmi `docker images -q`
        sudo -E apt-get -q purge azure-cli ghc* zulu* hhvm llvm* firefox google* dotnet* powershell openjdk* mysql* php*
        sudo -E apt-get -qq autoremove --purge
        sudo -E apt-get -qq clean
    - name: make
      run: |
        git clone --depth 1 $REPO_URL -b $REPO_BRANCH openwrt
        [ -e $SHELL_SCRIPT ] && bash $SHELL_SCRIPT
        cd openwrt
        ./scripts/feeds update -a
        ./scripts/feeds install -a
        [ -e $CONFIG_FILE ] && mv $CONFIG_FILE .config
        make defconfig
        make download -j8
        find ./dl/ -size -1024c -exec rm -f {} \;
        make -j$(nproc) || make -j1 V=s
    - name: Upload artifact
      uses: actions/upload-artifact@master
      with:
        name: OpenWrt-firmware
        path: ./bin/targets/
